form {
  border: 3px #9f0d0d;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 6px 34px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 36px auto;
  transition: border-color 0.16s, box-shadow 0.16s;
}
form:hover {
  border-color: #1139e7;
  box-shadow: 0 20px 40px rgba(37, 138, 240, 0.12);
}
p {
  font-size: 1.8em;
  font-family: monospace;
  color: rgb(134, 6, 6);
}
form input {
  width: 100%;
  font-size: 1.2em;
  box-shadow: 0 1px 2px #b5b5eb;
}
button {
  background: #b0bbf3;
  border: none;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 4px 16px rgb(237, 181, 181);
  transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
}
button:hover {
  background: #ea5757;
  box-shadow: 0 8px 24px rgb(133, 145, 239);
  transform: scale(1.06);
}
